.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  padding: 2rem;
  transition: ease-in-out 0.3s;
  animation: fadeIn 0.8s;
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    position: relative;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
