.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  padding: 2rem;
  animation: fadeIn 0.8s;
  .main {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin-top: 3rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
