.header {
  display: flex;
  img {
    height: auto;
    max-width: 140px;
    margin-right: 1rem;
    transform: rotate(345deg);
  }
  h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    letter-spacing: 5px;
    color: #fff;
  }
}
