.time-block {
  display: flex;
  flex-direction: column;
  h3 {
    align-self: center;
    margin: 2rem 0 2rem 0;
  }
  .time-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .fas {
      margin-right: 1rem;
    }
    .date-time {
      display: flex;
      flex-direction: column;
    }
  }
}
