@media screen and (max-width: 1440px) {
  .content {
    margin: 1.5rem;
    padding: 1.5rem;
    .main {
      margin-top: 1.5rem;
    }
  }
}

@media screen and (max-width: 1280px) {
  .content {
    margin: 1rem;
    padding: 1rem;
    .main {
      margin-top: 1rem;
    }
  }
}
