@media screen and (max-width: 1440px) {
  .header {
    img {
      max-width: 120px;
    }
    h1 {
      font-size: 1.75rem;
      letter-spacing: 4px;
    }
  }
}

@media screen and (max-width: 1280px) {
}
