@media screen and (max-width: 1440px) {
  .query-times {
    width: 390px;
    height: 540px;
    h2 {
      font-size: 22px;
    }
    button {
      font-size: 14px;
    }
    .loading {
      font-size: 22px;
      .fas {
        margin-right: 0.75rem;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .query-times {
    height: 500px;
    h2 {
      font-size: 20px;
    }
    button {
      padding: 0.3rem 0.6rem 0.3rem 0.6rem;
      border-radius: 15px;
    }
    .loading {
      font-size: 20px;
      .fas {
        margin-right: 0.5rem;
      }
    }
  }
}
